
@font-face {
  font-family: 'iconfont';  /* project id 889814 */
  src: url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.eot');
  src: url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.woff') format('woff'),
  url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_889814_x9zzmuvhndk.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e61a";
}

.icon-changjing:before {
  content: "\e60a";
}

.icon-rili:before {
  content: "\e643";
}

.icon-changjingmoren:before {
  content: "\e629";
}

.icon-huanqiu:before {
  content: "\e637";
}

.icon-lanqiu:before {
  content: "\ea73";
}

.icon-touyingyi180:before {
  content: "\e600";
}

.icon-bianji1:before {
  content: "\e62b";
}

.icon-piqiu:before {
  content: "\e613";
}

.icon-caiqiu:before {
  content: "\e635";
}

.icon-bianji2:before {
  content: "\e609";
}

.icon-tongji:before {
  content: "\e61b";
}
