.start{
    text-align:right;
    margin-right: 5px;
}

.end{
    text-align:left;  
}

.text-color-able {
    color: #108EE9;
    font-size: 14px;
}

.chart-roll{
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}





